
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* min-height: 100vh; */
}

.backd{
backdrop-filter: blur(55.7px);
-webkit-backdrop-filter: blur(40.7px);
}
